* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   --p-color: #28282b;
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 200;
}

.navbar-container {
   position: relative;

   width: 400px;
   margin: 10% auto;
}

.title-box {
   display: block;

   width: 150px;
   height: 150px;
   padding: 5%;

   color: white;
   background-color: var(--p-color);
}

h1 {
   font-size: 2.6rem;
}

.title-box p {
   font-size: 0.9rem;
}

.box {
   display: block;

   width: 120px;
   margin: 1% 0;
   padding: 5%;

   cursor: pointer;
   -webkit-transition: all 0.5s ease;
   transition: all 0.5s ease;

   color: var(--p-color);

   font-size: 0.9rem;
}

.box::after, .box::before {
   position: absolute;
   top: 10px;
   left: 18px;

   display: none;

   width: 18px;
   height: 5px;

   content: "";

   background-color: green;
}

.box:hover::after, .box:hover::before {
   display: inherit;
}

.box p:first-child {
   font-size: 1.4rem;
}

.box-1 {
   border-left: 5px solid #50b6a1;
}

.box-1:hover {
   border-left: 75px solid #50b6a1;
}

.box-1:hover::before {
   display: none;
}

.box-1:hover::after {
   top: 39.4%;

   background-color: #50b6a1;
}

/* BOX 2 */

.box-2 {
   border-left: 5px solid #ff3d60;
}

.box-2:hover {
   border-left: 75px solid #ff3d60;
}

.box-2:hover::before {
   top: 37.8%;

   background-color: #ff3d60;
}

.box-2:hover::after {
   top: 54.6%;

   background-color: #ff3d60;
}

/* BOX 3  */

.box-3 {
   border-left: 5px solid #ec9443;
}

.box-3:hover {
   border-left: 75px solid #ec9443;
}

.box-3:hover::before {
   top: 53.2%;

   background-color: #ec9443;
}

.box-3:hover::after {
   top: 70.1%;

   background-color: #ec9443;
}

/* BOX 4 */

.box-4 {
   border-left: 5px solid #58bbd5;
}

.box-4:hover {
   border-left: 75px solid #58bbd5;
}

.box-4:hover::before {
   top: 68.7%;

   background-color: #58bbd5;
}

.box-4:hover::after {
   top: 85.3%;

   background-color: #58bbd5;
}

/* BOX 5  */

.box-5 {
   border-left: 5px solid #d473d0;
}

.box-5:hover {
   border-left: 75px solid #d473d0;
}

.box-5:hover::before {
   top: 83.9%;

   background-color: #d473d0;
}

.box-5:hover::after {
   display: none;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 500px) {
   .navbar-container {
      margin: 10% 50px;
   }
}